input[type="checkbox"] + label::before {
    width: 16px;
    height: 15px;

    background: url('../article/images/custom_checkbox-grey.png') no-repeat 0 -15px;
}

input[type="checkbox"]:not(:checked):not(:disabled):hover + label:before {
    background-position: 0 -30px;
}